.veg-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
  padding: 1vw;
  width: 90vw;
  background-color: rgb(235, 235, 235);
  border-radius: 15px;
  box-shadow: 5px 5px 15px black;
  color: black;
}
.veg-list-submit {
  margin-top: 5vh;
}
.item-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
