.orders-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(166, 175, 194);
  margin: 1vw;
  padding: 1vw;
  border-radius: 5px;
}
.orders-list-container:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.orders-list-date {
  background-color: rgb(182, 182, 253);
  border-radius: 5px;
  margin: 0.2vw;
  padding: 0.2vw;
}

.order-list-icon:hover {
  color: white;
}
