.insert-new-container {
  background-color: white;
  color: black;

  padding: 2vw;
  border-radius: 15px;
}
.inert-new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insert-new-field {
  margin-bottom: 1vh;
}
